<!DOCTYPE html>
<html>
<head>
  <title>Movie Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <%=stylesheet_link_tag "lib/bootstrap.min"%>
  <%=stylesheet_link_tag "home"%>
  <%=stylesheet_link_tag "lib/nprogress"%>
</head>

<body>

  <script type="text/template" id="movieListTemplate">
    <div class='container'>
      <div class='row'>
        <%% _.each(movies, function(movie) { %> 
          <div class="span3 movie">
            <a id="detail_page" href="movie/<%%= movie.attributes.id %>">
              <h4 class="movie-title"><%%= regulate_length(movie.attributes.title, 23) %></h4>
              <img class= "img-rounded" src=<%%= movie.attributes.img_url %>>
              <p>Score: <%%= regulate_decimal_points(movie.attributes.avg_score) %></p>
            </a>
          </div>
          <%% }); %>
      </div>
    </div>
  </script>

  <script type="text/template" id="movie_creation">
    <div class='container'>
      <div><h3>Create new movie</h3>

        <form name="new_movie" class="simple-form new_movie" method="POST">
          <div class="control-group">
            <label class="control-label" for="movie-title">Title</label>
            <div class="controls">
              <input class="text_field" id="movie_title" name="movie[title]" size="30" type="text" required="true" value="addf">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="movie_summary">Summary</label>
            <div class="controls">
              <input class="text_field" id="movie_summary" name="movie[summary]" size="30" type="text" required="true">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="movie-img">Img</label>
            <div class="controls">
              <input id="movie_img" name="movie[img]" type="file" required="true">
            </div>
          </div>

          <input class="btn btn-primary" type="submit"></input>
          <a href="#" id="cancel" class="btn">Cancel</a>
        </form>
      </div>
    </div>
  </script>

  <script type="text/template" id="movie_edit">
    <div class='container'>
      <div><h3>Edit Movie</h3>

        <form name="new_movie" class="simple-form edit_movie" method="POST">
          <div class="control-group">
            <label class="control-label" for="movie-title">Title</label>
            <div class="controls">
            <input class="text_field" id="movie_title" name="movie[title]" size="30" type="text" required="true" value="<%%= movie.attributes.title%>">
            <input class="text_field" id="movie_id" name="movie[id]" size="30" type="hidden" value="<%%= movie.attributes.id%>">
            </div>
            </div>
            <div class="control-group">
            <label class="control-label" for="movie_summary">Summary</label>
            <div class="controls">
            <input class="text_field" id="movie_summary" name="movie[summary]" size="30" type="text" required="true" value="<%%= movie.attributes.summary%>">
            </div>
          </div>
            
          <img src=<%%= movie.attributes.img_url%>>

          <div class="control-group">
            <br>
            <div class="btn movie-img" onclick="add_file_button()">Change Img</div>
            <br></br>
            <div class="controls movie-file-holder">
            </div>
          </div>

          <input class="btn btn-primary" type="submit"></input>
          <a href="#" id="cancel" class="btn">Cancel</a>
        </form>
      </div>
    </div>
  </script>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Movie Gallery</a>
        <div class="nav-collapse collapse">

          <p class = pull-right id="user_email" style="padding-top: 10px; color: white">Guest User</p>
          <ul class="nav">
            <li class="active"><a href="#">List All</a></li>
            <li><a href="/login" id="sign_link">Sign in</a></li>
            <li><a href="/new">Add New Movie</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div id="placeholder" style="height:45px"></div>
  <div id="list_container"></div>

  <%=javascript_include_tag "lib/jquery-1.10.2.min"%>
  <%=javascript_include_tag "jquery.form.min"%>
  <%=javascript_include_tag "lib/underscore-min"%>
  <%=javascript_include_tag "lib/bootstrap.min"%>
  <%=javascript_include_tag "lib/backbone-min"%>
  <%=javascript_include_tag "lib/moment.min"%>
  <%=javascript_include_tag "lib/nprogress"%>
  <%=javascript_include_tag "zope"%>

  <%= javascript_tag do %>
  window.access_token = "<%= session[:access_token]%>"
  window.user_id = "<%= session[:current_user_id]%>"
  window.user_email = "<%= session[:current_user_email]%>"
  <% end %>

   <script type="text/javascript">
      $(document).ready(function(){
        if(window.user_email){
          $("#user_email").text("Welcome " + window.user_email);
          $("#sign_link").text("Sign out");
          $("#sign_link").attr("href","/logout");
        }else{
          $("#user_email").text("Guest User");
          $("#sign_link").text("Sign in");
          $("#sign_link").attr("href","/login");
        }
      });
   </script>

</body>
</html>
<script type="text/template" id="movie_info_template">
  <div class = "container" style= "margin-bottom: 50px; margin-top: 20px;">
    <div class="page-header">
      <div class="span4">
        <img class="img-rounded" src="<%%= movie.get('img_url') %>">
      </div>
      <h3 class="muted text-cente"><%%= regulate_length(movie.attributes.title) %></h3>
    <div>
      <button class="delete-movie btn btn-danger" value=>Delete</button>
    </div>
    </div>
    <h5>Description</h5>
    <p class="description"><%%= movie.get('summary') %></p>

  </div>
</script>

<script type="text/template" id="review_template">
  <div class="container<%%= review.attributes.id %>">
      <div class="well">           
        <div class="row-fluid">
          <p class="span12">
            <strong><%%= review.attributes.user.username %></strong> (<%% print(moment(review.attributes.updated_at).fromNow()) %>).
          </p>
          <span class="badge badge-info pull-right">
            <%%= review.attributes.score %> points
          </span>
        </div>
        <div class="row-fluid">
          <p class="span9"><%%= review.attributes.comment %></p>
        </div> 
        <div>
          <%% if(login_user.id == review.attributes.user.id) {%>
            <button class="delete-review btn btn-danger" value="Delete Review">Delete Review</button>
            <%%}%>
          </div>
        </div>
  </div>
</script>
<script type="text/template" id="write_review_template">
  <form class="new-review-form form-horizontal">
    <div class="well container">
      <input name="movie_id" type="hidden" value="<%%= id %>">
      <div class="control-group">
        <label class="control-label" for="review_score">Score (1-100)</label>
        <div class="controls">
          <input id="review_score" name="score" type="number" min="1" max="100" value="">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="review_comment">Comment</label>
        <div class="controls">
          <textarea class="span9" cols="40" id="review_comment" name="comment" rows="3"value=""></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input class="btn" type="submit" value="Create Review">
        </div>
      </div>
    </div>
  </form>
</script>
