<!DOCTYPE html>
<html>
<head>
    <title>Movie Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
  
    <%=stylesheet_link_tag "bootstrap.min.css"%>
</head>

<body>

    <script type="text/template" id="movieListTemplate">
    <div class='container'>
      <div class='row'>
        <%% _.each(movies, function(movie) { %> 
            <div class="span3 movie"><h4 class="movie-title"><%%= regulate_length(movie.attributes.title, 24) %></h4>
            <img src=<%%= movie.attributes.img_url %>>
            <p>Score: <%%= regulate_decimal_points(movie.attributes.avg_score, 2) %></p>
            </div>
        <%% }); %>
      </div>
    </div>
  </script>
   

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Movie Gallery</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li class="active"><a href="#">List All</a></li>
                      <li><a href="/login">Sign in</a></li>
                  </ul>
              </div><!--/.nav-collapse -->
          </div>
      </div>
  </div>
  <div id="placeholder" style="height:45px"></div>
  <div id="list_container"></div>
  
  <%= session[:access_token]%>
   <%=javascript_include_tag "jquery-1.10.2.min"%>
   <%=javascript_include_tag "underscore-min"%>
   <%=javascript_include_tag "bootstrap.min"%>
   <%=javascript_include_tag "backbone-min"%>
   <%=javascript_include_tag "zope"%>

</body>
</html>